# Template https://github.com/immich-app/immich/blob/main/.github/workflows/cli.yml
name: Docker

on:
  workflow_run:
    workflows: [Check_consulTemplate_Version]
    types: [completed]

jobs:
  no-new-version:
    runs-on: ubuntu-latest
    # Calling workflow has conclusion success or failure
    # failure = no new version available
    # success = new version available
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'The triggering workflow failed'
  publish:
    name: Docker Publish
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: read # for downloading versions artifact from different workflow
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Download Artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: version
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Read version
        id: version
        run: |
          VERSION=$(cat version.txt)
          echo "Version from first workflow: $VERSION"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Generate docker image tags
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            name=ghcr.io/evva-sfw/consul-template
          tags: |
            type=raw,value=${{ steps.version.outputs.version }}
            type=raw,value=latest
      - name: Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: Dockerfile
          platforms: linux/amd64
          push: true
          build-args: CONSUL_TEMPLATE_VERSION=${{ steps.version.outputs.version }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          sbom: true
          provenance: mode=max
          attests: type=sbom,generator=image
      - name: Create Release
        uses: comnoco/create-release-action@7dea6dc82ac9d97ced7a764aa82811451bba80e0 # v2.0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.version.outputs.version }}
          release_name: Release ${{ steps.version.outputs.version }}
          body: |
            New consul-template version: [${{ steps.version.outputs.version }}](https://github.com/hashicorp/consul-template/releases/tag/v${{ steps.version.outputs.version }})

          draft: false
          prerelease: false
